body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* ============================================
                SHARED STYLES
==============================================*/

.section-title {
  font-size: 120%;
}

.review-widget {
  padding: 5% 10%;
}

.btn-reviews, .btn-questions {
  background-color: white;
  border: solid 1px gray;
  font-size: 20px;
  font-weight: 500;
  padding: 20px;
  margin-right: 5px;
}

/* ============================================
                REVIEW
==============================================*/

/* REVIEWS.JSX --------------*/

.review-widget {
  display: grid;
  grid-template-columns: 2.5fr 0.5fr 6fr;
  grid-template-rows: 40px auto;
}

.review-title {
  grid-column-start: 1;
  grid-column-start: span 3;
}

/* REVIEWLIST.JSX ----------*/

.review-list {
  margin-top: 14px;
}

.review-list-sort {
  font-weight: 600;
  font-size: 20px;
}

.review-list-sort-select {
  border: none;
  border-bottom: 3px solid black;
}

.review-individual-filter-view{
  display: inline-block;
  background-color: rgb(232, 245, 255);
  padding: 5px 12px;
  margin: 10px 5px 0 0;
  border-radius: 20px;
  font-size: small;
  color: rgb(70, 127, 170);
}

/* REVIEWTILE.JSX ----------*/

.review-tile-element {
  margin-bottom: 25px;
}

.review-helpful-yes:hover {
  cursor: default;
}

.btn-reviews {
  margin-top: 20px;
}

.characteristic-entry-meter-background {
  background-color: #ededed;
  height: 9px;
  margin-top : 2px;
}

/* ADDREVIEW.JSX ------------*/

.review-add-modal {
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;

  background-color: white;
  border: solid 1px gray;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 100px auto;
}

.review-add-header {
  background-color: rgb(177, 214, 143);
}

.review-add-title {
  padding: 20px  0 0 50px;
  font-size: xx-large;
  font-weight: 600;
}

.review-add-subtitle {
  padding-left: 50px;
  font-size: large;
}

.review-add-form {
  padding: 50px;
  max-height: 500px;
  overflow-y: auto;
}

.btn-add-reviews-close {
  height: 20px;
  width: 20px;
  justify-self: end;
  margin: 10px;
  border: none;
  background-color: none;
}

.btn-add-reviews-close:hover, .review-add-modal:hover{
  cursor: default;
}

/* DYNAMICSTARRATING.JSX ----------*/

.review-add-rating-star-on{
  color: rgb(255, 217, 0);
}

.review-add-rating-star-off{
  color: rgb(173, 173, 173);
}

/* CHARACTERISTICSFORM.JSX ---------*/

.review-add-char-select {
  padding-top: 15px;
  padding-bottom: 15px;
  height: 50px;
  border-bottom: 1px solid rgb(226, 226, 226);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.review-add-char-title {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
}

.review-add-char-radio {
  display: inline-block;
  text-align: center;

}
.review-add-char-radio label {
  display: block;
  font-size: small;
}

/* TEXTDETAIL.JSX --------------------*/

.review-add-summary, .review-add-body {
  width: 100%;
}


/* AUTHFIELDS.JSX -------------------*/

.review-add-id-warning {
  width: 90%;
}

.review-add-id {
  width: 200px;
}

/* EMPTYFIELDS.JSX ------------------*/

.review-add-empty {
  background-color: rgb(255, 236, 236);
  color: red;
  font-size: smaller;
  padding: 10px 20px;
}

/* SHARED ---------------------------*/

.review-add-body-min, .review-add-id-warning, .review-add-email-invalid  {
  font-size: smaller;
  color:rgb(173, 173, 173)
}

.required {
  color: red;
}

/* ============================================
                OVERVIEW
==============================================*/

.Overview {
  margin-left: 5%;
  margin-right: 5%;
  height: 800px;
}

.selector-thumbnail {
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 50%;
}

.image_gallery {
  width: 700px;
  height: 700px;
  position: relative;
  bottom: 300px;
}

.Gallery {
  width: 700px;
  height: 700px;
}

.gallery-thumbnail {
  width: 60px;
  height: 60px
}

.image-slide{
  background-size: cover;
  background-position: center;
  width: 700px;
  height: 700px;
}

.product-style-and-cart {
  position: relative;
  left: 750px;
  top: 100px;
  width: 500px;
}

.style_thumbnails {
  width: 325px;
  height: 150px;
}

.product-info {
  position: relative;
  bottom: 300px;
  height: 100px;
  margin-bottom: 10px;
}



.btn-questions{
  background-color: white;
  border: solid 1px gray;
  font-size: 20px;
  font-weight: 500;
  padding: 20px;
  margin-right: 5px;
}
/* ============================================
                RELATIONS
==============================================*/

.relations-container {
  width: 80%;
  min-width: 325px;
  border: 1px solid red;
}

.component-wrapper {
  width: 100%;
  border: 1px solid blue;
}


.carousel-container {
  width: 100%;
  height: 420px;
  display: flex;
  flex-direction: column;
  border: 1px solid orange;
}

.carousel-wrapper {
  display: flex;
  border: 1px solid greenyellow;
  /*justify-content: center;*/
  width: 90%;
  position: relative;
}

.carousel-content-wrapper {
  overflow: hidden;
  display: flex;
  border: 1px solid pink;
  /*justify-content: center;*/
  /*align-items: center;*/
  width: 90%;
  height: 400px;
}

.carousel-content {
  display: flex;
  border: 1px solid aqua;
  background-color: aqua;
  transition: all 250ms linear;
  width: 22%;
  -ms-overflow-style: none;  /* hide scrollbar in IE and Edge */
  scrollbar-width: none;  /* hide scrollbar in Firefox */
}

/* hide scrollbar in webkit browser */
.carousel-content::-webkit-scrollbar, .carousel-content::-webkit-scrollbar {
  display: none;
}

.carousel-content > * {
  width: 250px;
  flex-shrink: 0;
  flex-grow: 1;
}

.left-arrow, .right-arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: white;
  border: 1px solid #ddd;
}

.left-arrow {
  left: 24px;
}

.right-arrow {
  right: 24px;
}

/* ============================================
                QUESTIONS
==============================================*/
