body {
  font-family: 'Montserrat', sans-serif;
}

/* ============================================
                SHARED STYLES
==============================================*/

.section-title {
  font-size: 120%;
}

.review-widget {
  padding: 5% 10%;
}

/* ============================================
                REVIEW
==============================================*/

/* REVIEWS.JSX */

.review-widget {
  display: grid;
  grid-template-columns: 2.5fr 0.5fr 6fr;
  grid-template-rows: 40px auto;
}

.review-title {
  grid-column-start: 1;
  grid-column-start: span 3;
}

/* REVIEWLIST.JSX */

.review-list {
  margin-top: 14px;
}

.review-list-sort {
  font-weight: 600;
  font-size: 20px;
}

.review-list-sort-select {
  border: none;
  border-bottom: 3px solid black;
}

.review-individual-filter-view{
  display: inline-block;
  background-color: rgb(232, 245, 255);
  padding: 5px 12px;
  margin: 10px 5px 0 0;
  border-radius: 20px;
  font-size: small;
  color: rgb(70, 127, 170);
}

/* REVIEWTILE.JSX */

.review-tile-element {
  margin-bottom: 25px;
}

.review-helpful-yes:hover {
  cursor: default;
}

.btn-reviews {
  background-color: white;
  border: solid 1px gray;
  font-size: 20px;
  font-weight: 500;
  padding: 20px;
  margin-right: 5px;
  margin-top: 20px;
}

.characteristic-entry-meter-background {
  background-color: #ededed;
  height: 9px;
  margin-top : 2px;
  }

/* ============================================
                OVERVIEW
==============================================*/

.Overview {
  margin-left: 5%;
  margin-right: 5%;
  height: 800px;
}

.selector-thumbnail {
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 50%;
}

.image_gallery {
  width: 700px;
  height: 700px;
  position: relative;
  bottom: 300px;
}

.Gallery {
  width: 700px;
  height: 700px;
}

.gallery-thumbnail {
  width: 60px;
  height: 60px
}

.image-slide{
  background-size: cover;
  background-position: center;
  width: 700px;
  height: 700px;
}

.product-style-and-cart {
  position: relative;
  left: 750px;
  top: 100px;
  width: 500px;
}

.style_thumbnails {
  width: 325px;
  height: 150px;
}

.product-info {
  position: relative;
  bottom: 300px;
  height: 100px;
  margin-bottom: 10px;
}



.btn-questions{
  background-color: white;
  border: solid 1px gray;
  font-size: 20px;
  font-weight: 500;
  padding: 20px;
  margin-right: 5px;
}
/* ============================================
                RELATIONS
==============================================*/

.carousel-container {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.carousel-wrapper {
  display: flex;
  width: 100%;
  position: relative;
}

.carousel-content-wrapper {
  overflow: hidden;
  width: 90%;
  height: 400px;
}

.carousel-content {
  display: flex;
  transition: all 250ms linear;
  -ms-overflow-style: none;  /* hide scrollbar in IE and Edge */
  scrollbar-width: none;  /* hide scrollbar in Firefox */
}

/* hide scrollbar in webkit browser */
.carousel-content::-webkit-scrollbar, .carousel-content::-webkit-scrollbar {
  display: none;
}

.carousel-content > * {
  width: 200px;
  flex-shrink: 0;
  flex-grow: 1;
}

.left-arrow, .right-arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: white;
  border: 1px solid #ddd;
}

.left-arrow {
  left: 24px;
}

.right-arrow {
  right: 24px;
}

/* ============================================
                QUESTIONS
==============================================*/
